/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 sept. 2022, 15:08:40
    Author     : pierre.blanchet
*/
ol{
    list-style:none;
}
html { overflow-x: hidden; }
body{
    background-image:url(pictures/leMans.jpg);
    background-size: 100%;
    background-repeat:no-repeat;
    
}

.topnav {
  position: relative;
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #f4a261;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #e76f51;
  color: white;
}

/* Centered section inside the top navigation */
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}



/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}
.tableau{
    display: flex;
}

table{
    z-index: 5;
    display:flex;
    justify-content:center;
    width:100%;
    transform: translateY(50%); /* tiré de la moitié de sa propre hauteur */
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;    
    
}
    

table #blancc{
    background-color: #e76f51;
}
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  
}

#customers td, #customers th {
  border: 1px solid #e76f51;
  padding: 8px;

}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #e76f51;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #e76f51;
  color: white;
}

table #orangee{
    background-color: #e76f51;
}

table #blanc:hover{
    background-color: #f2f2f2;
}

.video{
    display: flex;
    position: relative;
    top: 180px; 
    justify-content:center;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}



